<div class="rows">
  <div class="col-md-4 offset-md-4">
    <h1>Welcome to the Home Page</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= image_tag "https://www.fillmurray.com/350/350", alt: "placeholder image 1", class: "img-responsive" %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= image_tag "https://www.fillmurray.com/350/350", alt: "placeholder image 2", class: "img-responsive" %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= image_tag "https://www.fillmurray.com/350/350", alt: "placeholder image 3",
                  class: "img-responsive" %>
  </div>
  <div class="col-md-3 col-sm-3 col-xs-6">
    <%= image_tag "https://www.fillmurray.com/350/350", alt: "placeholder image 4",
                  class: "img-responsive" %>
  </div>
</div> 
