<div class="rows">
  <div class="col-md-4 offset-md-4">
    <h1>Welcome to the Games Home Page</h1>
  </div>
</div>

<div class="rows">

  <div class="center">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, excepturi architecto illum, nisi modi error. Accusantium vero magni, nam soluta, neque optio dolorem, eveniet praesentium non possimus nostrum perferendis sit.</p> <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta quibusdam sit quis blanditiis quasi recusandae atque mollitia similique neque, pariatur voluptates quam. Nam nulla, minima dolores reprehenderit quae facere vel?</p>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste atque explicabo est quaerat ullam perspiciatis repellat! Numquam quae, vel? Quae perferendis vel, corporis iure sed reiciendis quisquam hic debitis sint.</p>
</div>
  </div>
