<h1>Games Index</h1>

<h1> Welcome: <%= @current_user.name %> </h1>
<h1>Title: <%= @game.name %> </h1>
<div class="container">
  <ul>
    <li>Name: <%= @game.name %></li>
  </ul>

</div>

<!-- Cart Button -->
<div class="controls">

</div>
