<h1>Games Index</h1>
<div class=".col-md-3 ">

<%= form_tag(games_search_path, :method => 'get') do %>
   Games: <%= text_field_tag :name %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>

  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      Link with href
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    </div>
  </div>
<% @games.each do |game| %>

  <%= link_to 'Show', game_path(game.id) %>

<% end %>
</div>



<!-- Cart Button -->
<div class="controls">
</div>
