
<button>Cart</button>



<ul>
  <li>Release Date: <%= @games.release_date %></li>
  <li>Genre: <%= @games.genre %></li>
</ul>
<p> Desciption: <%= @games.description %></p>


<!-- Cart Button -->
<div class="controls">

</div>
