<div class="container">
  <% @game.each_slice(1) do |game| %>
  <div class="row">
    <div class="col-sm">
      <%= game[0].name %>
    </div>
    <div class="col-sm">
      <%= game[0].price %>
    </div>
    <div class="col-sm">
      <%= game[0].stock %> |<%= link_to '+', games_add_path, :class => "btn btn-primary btn-lg" %> 
    </div>
  </div>
  <% end %>
</div>
