<div class="container">
  <div class="row">
    <div class="col-sm">
      Name
    </div>
    <div class="col-sm">
      Price
    </div>
    <div class="col-sm">
      Stock
    </div>
    <div class="col-sm">
      + & -
    </div>
  </div>
</div>
