body {
  background: green;
}

.stock-page-price {
  text-align: center;
}

.order-ptag{
  padding: 40% 40%;
  text-align: center;
}

.img-order{
  padding: 20% 20%;
}

.reset {
  margin: 0 auto;
}

.embed-responsive {
  /* max-width: 300px;
  max-height: 300px; */

}

.centered-text {
  text-align: center;
}

.text-padding{
padding: 10px 0px 0px 0px;

}

div .col-sm {
  padding-top: 5px;
}

li {
  list-style-type: none;
}


.btn-lg{
  margin-top: 10px;
  margin-left: 10px;
}

.payment-img {
  height: 150px;
  width: 100px;
}
/*  Show Page for Games */
.buttons{
  display: flex;
  justify-content: space-between;
  /* text-align: right; */
}

/* Main Page */
.display-4{
  text-align: center;
}
/* Carrosoul */
.slide{
  margin: 0 auto;
}
.d-block{
  max-height: 480px;
}
.carousel {
  opacity: 0.85;
}
.title {
  font-size: 14px;
  font-weight:

}
.price{
  font-size: 12px;
}
.stock{
  font-size: 12px;
}
.card-img-top {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.row{
  padding-top: 5px;
}
.box-text {
  width: 0 auto;
}

.card-body {
  min-height: 94px;
}

.red {
color: red;
}

/* Application.Html.erb */

.test {
  margin-left: -70px;
  margin-right: -80px;
 /* margin-left: -20px; */
}

.bg-light {
  margin-left: -20px;
}
