body {
  background: lightblue;
}

.order-ptag{
  padding: 40% 40%;
  text-align: center;
}

.img-order{
  display: block;
  padding: 20% 20%;
}

div .col-sm {
  padding-top: 5px;
}

li {
  list-style-type: none;
}

.card-img-top{
  max-height: 285px;
  max-width: 405px;
}

.btn-lg{
  margin-top: 10px;
  margin-left: 10px;
}

.payment-img {
  height: 100px;
  width: 100px;
}

/* Carrosoul */
.slide{
  margin: 0 auto;
  width: 900px;
  height: 350px;
}
