body {
  background: green;
}

.order-ptag{
  padding: 40% 40%;
  text-align: center;
}

.img-order{
  padding: 20% 20%;
}


.text-holder {
  display: 2vh;
}

.embed-responsive {
  max-width: 300px;
  max-height: 300px;
}

.centered-text {
  text-align: center;
}

.text-padding{
padding-top: 10px;
}

div .col-sm {
  padding-top: 5px;
}

li {
  list-style-type: none;
}

/* .card-img-top{
  max-height: 285px;
  max-width: 405px;
} */

.btn-lg{
  margin-top: 10px;
  margin-left: 10px;
}

.payment-img {
  height: 100px;
  width: 100px;
}
/*  Show Page for Games */
.buttons{
  display: flex;
  justify-content: space-between;
  /* text-align: right; */
}


/* Carrosoul */
.slide{
  margin: 0 auto;

}

.div-border {
  border: black 1px
}

.red {
color: red;
}

/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
